<div class="container">
  <header>
    <h1>{{ titulo }}</h1>
  </header>
  
  <main>
    <section>
      <div class="botoes">
        <button (click)="alternarExibicao()">
          Exibir {{ exibicao == 'cards' ? 'Lista' : 'Cards' }}
        </button>
      </div>

      <div class="botoes">
        <span>Filtros</span>
        
        <button (click)="filtrarTodos()">
          Todos
        </button>

        <button (click)="filtrarAprovados()">
          Aprovados
        </button>

        <button (click)="filtrarReprovados()">
          Reprovados
        </button>
      </div>
    </section>

    <section class="cards" *ngIf="exibicao == 'cards'">
      <app-student
        (excluir)="onExcluir($event)"
        [aluno]="alunoAtual"
        [escola]="escola"
        *ngFor="let alunoAtual of listaAlunosFiltro">
      </app-student>
    </section>

    <section class="lista" *ngIf="exibicao == 'lista'">
      <app-tabela
        (excluir)="onExcluir($event)"
        [titulo]="'Lista de alunos'"
        [alunos]="listaAlunosFiltro">
      </app-tabela>
    </section>

    <section>
      <app-forms-aluno></app-forms-aluno>
    </section>
  </main>

  <footer>
    <p>- Site Proway -</p>
  </footer>
</div>