h2 {
    text-align: center;
    margin-bottom: 16px;
}

table {
    border-collapse: collapse;
    width: 800px;
    margin: auto;
}

th, td {
    padding: 8px;
}

thead tr {
    background-color: #ff6200;
    color: #fff;
}

tbody tr:nth-child(even){
    background-color: #d8d7d7;
}

tbody tr:hover {
    background-color: #263766;
    color: #fff;
    cursor: pointer;
}

.editar {
    background-color: green;
    border-radius: 6px;
    color: white;
}

.excluir {
    background-color: red;
    border-radius: 6px;
    color: white;
}

button {
    margin-right: 6px;
    width: 60px;
}

button:hover {
    box-shadow: 2px 2px 5px #9c9c9c;
    cursor: pointer
}