div {
    width: 200px;
    height: 300px;
    padding: 16px;
    border: solid 1px gray
}

div:hover {
    box-shadow: 2px 2px 5px rgb(90, 90, 90);
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
    padding: 8px;
}

mt-16 {
    margin-top: 16px;
}